@page "/jobposts/delete"
@using Microsoft.EntityFrameworkCore
@using JobBank.Models
@inject IDbContextFactory<JobBank.Data.EmploymentBankContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>JobPost</h2>
    <hr />
    @if (jobpost is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Title</dt>
            <dd class="col-sm-10">@jobpost.Title</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Applied</dt>
            <dd class="col-sm-10">@jobpost.IsApplied</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Rejected</dt>
            <dd class="col-sm-10">@jobpost.ApplicationDeclined</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10"><div class="col-sm-6">@jobpost.Description</div></dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Company</dt>
            <dd class="col-sm-10">@jobpost.Company</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Impression</dt>
            <dd class="col-sm-10">@jobpost.Impression</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">To Do</dt>
            <dd class="col-sm-10">@jobpost.ActionToTake</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Work</dt>
            <dd class="col-sm-10">@jobpost.JobType</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">HQ</dt>
            <dd class="col-sm-10">@jobpost.JobBase</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Application Type</dt>
            <dd class="col-sm-10">@jobpost.ApplicationType</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Application Date</dt>
            <dd class="col-sm-10">@jobpost.ApplicationDate</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Response Date</dt>
            <dd class="col-sm-10">@jobpost.ResponseDate</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Interview Date</dt>
            <dd class="col-sm-10">@jobpost.InterviewDate</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Interview Type</dt>
            <dd class="col-sm-10">@jobpost.InterviewType</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Interview Outcome</dt>
            <dd class="col-sm-10">@jobpost.InterviewOutcome</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Challenge</dt>
            <dd class="col-sm-10">@jobpost.ItHasChallenge</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Contact Phone</dt>
            <dd class="col-sm-10">@jobpost.ContactPhone</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Contact Email</dt>
            <dd class="col-sm-10">@jobpost.ContactEmail</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Comments</dt>
            <dd class="col-sm-10">@jobpost.Comments</dd>
        </dl>
        <EditForm method="post" Model="jobpost" OnValidSubmit="DeleteJobPost" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(jobpost is null)">Delete</button> |
            <a href="/jobposts">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private JobPost? jobpost;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        jobpost = await context.JobPost.FirstOrDefaultAsync(m => m.Id == Id);

        if (jobpost is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteJobPost()
    {
        using var context = DbFactory.CreateDbContext();
        context.JobPost.Remove(jobpost!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/jobposts");
    }
}
