@page "/jobposts/details"
@using Microsoft.EntityFrameworkCore
@using JobBank.Models
@inject IDbContextFactory<JobBank.Data.EmploymentBankContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>JobPost</h2>
    <hr />
    @if (jobpost is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2 my-2">Title</dt>
            <dd class="col-sm-10 my-2">@jobpost.Title</dd>
            <dt class="col-sm-2 my-2">Applied</dt>
            <dd class="col-sm-10 my-2">@jobpost.IsApplied</dd>
            <dt class="col-sm-2 my-2">Rejected</dt>
            <dd class="col-sm-10 my-2">@jobpost.ApplicationDeclined</dd>
            <dt class="col-sm-2 my-2">Description</dt>
            <dd class="col-sm-10 my-2">
                <div class="col-sm-6 my-2">@jobpost.Description</div></dd>
            <dt class="col-sm-2 my-2">Company</dt>
            <dd class="col-sm-10 my-2">@jobpost.Company</dd>
            <dt class="col-sm-2 my-2">Impression</dt>
            <dd class="col-sm-10 my-2">@jobpost.Impression</dd>
            <dt class="col-sm-2 my-2">To Do</dt>
            <dd class="col-sm-10 my-2">@jobpost.ActionToTake</dd>
            <dt class="col-sm-2 my-2">Work</dt>
            <dd class="col-sm-10 my-2">@jobpost.JobType</dd>
            <dt class="col-sm-2 my-2">HQ</dt>
            <dd class="col-sm-10 my-2">@jobpost.JobBase</dd>
            <dt class="col-sm-2 my-2">Applied</dt>
            <dd class="col-sm-10 my-2">@jobpost.ApplicationType</dd>
            <dt class="col-sm-2 my-2">Application Date</dt>
            <dd class="col-sm-10 my-2">@jobpost.ApplicationDate</dd>
            <dt class="col-sm-2 my-2">Response Date</dt>
            <dd class="col-sm-10 my-2">@jobpost.ResponseDate</dd>
            <dt class="col-sm-2 my-2">Interview Date</dt>
            <dd class="col-sm-10 my-2">@jobpost.InterviewDate</dd>
            <dt class="col-sm-2 my-2">Interview Type</dt>
            <dd class="col-sm-10 my-2">@jobpost.InterviewType</dd>
            <dt class="col-sm-2 my-2">Interview Outcome</dt>
            <dd class="col-sm-10 my-2">@jobpost.InterviewOutcome</dd>
            <dt class="col-sm-2 my-2">Challenge</dt>
            <dd class="col-sm-10 my-2">@jobpost.ItHasChallenge</dd>
            <dt class="col-sm-2 my-2">Contact Phone</dt>
            <dd class="col-sm-10 my-2">@jobpost.ContactPhone</dd>
            <dt class="col-sm-2 my-2">Contact Email</dt>
            <dd class="col-sm-10 my-2">@jobpost.ContactEmail</dd>
            <dt class="col-sm-2 my-2">Comments</dt>
            <dd class="col-sm-10 my-2">@jobpost.Comments</dd>
        </dl>
        <div>
            <a href="@($"/jobposts/edit?id={jobpost.Id}")">Edit</a> |
            <a href="@($"/jobposts")">Back to List</a>
        </div>
    }
</div>

@code {
    private JobPost? jobpost;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        jobpost = await context.JobPost.FirstOrDefaultAsync(m => m.Id == Id);

        if (jobpost is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
