@page "/jobposts"

@using Microsoft.AspNetCore.Components.QuickGrid
@inject JobBank.Components.Pages.JobPostPages.ViewModels.IIndexViewModel IndexViewModel
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="jobposts/create">Create New</a>
</p>

<div class="m-1">
    <div class="@(IndexViewModel.DeclinedVisible ? "d-show" : "d-none")">
        <label>
            <input type="checkbox" @oninput="IndexViewModel.LoadRejectedApplication" checked="@IndexViewModel.ApplicationDeclined" />
            Load Rejected Only
        </label>
    </div>
    <div class="@(IndexViewModel.PendingVisible ? "d-show" : "d-none")">
        <label>
            <input type="checkbox" @oninput="IndexViewModel.LoadPendingApplication" checked="@IndexViewModel.PendingOnly" />
            Load Pending Only
        </label>
    </div>
</div>

<QuickGrid Class="table" Items="IndexViewModel.JobPostsQueriable">   
    <PropertyColumn Property="jobpost => jobpost.Title" Sortable="true" />
    <PropertyColumn Property="jobpost => jobpost.IsApplied" Title="Applied" />
    <PropertyColumn Property="jobpost => jobpost.Company" Sortable="true" />
    <PropertyColumn Property="jobpost => jobpost.ActionToTake" Title="To Do" />
    <PropertyColumn Property="jobpost => jobpost.JobType" Title="Work">
        <ColumnOptions>
            <input type="search" @bind="IndexViewModel.JobTypeSearch" placeholder="Filter by Job Type" />
        </ColumnOptions>       
    </PropertyColumn>
    <PropertyColumn Property="jobpost => jobpost.ApplicationDate" Format="MM/dd/yyyy" Title="Submitted" Sortable="true"/>
    <PropertyColumn Property="jobpost => jobpost.InterviewDate" Format="MM/dd/yyyy" Title="Interview Date" Sortable="true" />
    <PropertyColumn Property="jobpost => jobpost.InterviewOutcome" Title="Outcome" />
    
    <TemplateColumn Context="jobpost">
        <a href="@($"jobposts/edit?id={jobpost.Id}")">Edit</a> |
        <a href="@($"jobposts/details?id={jobpost.Id}")">Details</a> |
        <a href="@($"jobposts/delete?id={jobpost.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
