@page "/jobposts/LLMAdvisorComponent"
@inherits ViewModelBase<ILLMAdvisorViewModel>

<div class="modal fade show" style="display:block; background-color: rgba(0,0,0,0.5);" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@ViewModel.Title</h5>
                <button type="button" class="btn-close" @onclick="OnClose"></button>
            </div>
            <div class="modal-body">
                @if (ViewModel.IsLoading)
                {
                    <div class="text-center p-4">
                        <div class="spinner-border text-primary" role="status"></div>
                        <p>Analyzing Job Post...</p>
                    </div>
                }
                else if (ViewModel.IsError)
                {
                    <div class="alert alert-danger" role="alert">
                        <p>Analyzing Job Post Title: @ViewModel.JobTitle</p>
                        <p>Error:</p>
                        <p>@ViewModel.ErrorDescription</p>
                    </div>
                }
                else
                {
                    <p>Analyzing Job Post Title: @ViewModel.JobTitle</p>
                    <p>Interview Questions:</p>
                    <ul>
                        @foreach (var question in ViewModel.InterviewQuestions)
                        {
                            <li>@question</li>
                        }
                    </ul>

                    <p>Study Subjects</p>
                    <ul>
                        @foreach (var subject in ViewModel.StudySubjects)   
                        {
                            <li>@subject</li>
                        }
                    </ul>   
                }
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" @onclick="OnClose">Close</button>
            </div>
        </div>
    </div>
</div>



@code {
    [Parameter] public int JobPostId { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }

    protected override async Task OnParametersSetAsync()
    {        
        ViewModel.JobPostId = JobPostId;

        await ViewModel.InitializeAsync();
    }
}